// demo styles

.jumbotron--custom {
    height: 100vh;
    min-height: 400px;
}
.jumbotron--content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
}

.grid-system-1 {
    &:before {
        content: 'default: width -> 970px';
        display: block;
        background-color: #f1f1f1;
        text-align: center;
    }

    .row > div,
    .row--no-margin div {
        text-align: center;
    }

    .col-sm-3 {
        > div {
            background: bisque;
        }
    }
    .col-sm-2 {
        > div {
            background-color: lightcoral;
        }
    }
    .col-sm-4 {
        > div {
            background-color: lightpink;
        }
    }
    .col-sm-6 {
        > div {
            background-color: lightblue;
        }
    }
}

.row--no-margin {
    margin-left: 0;
    margin-right: 0;

    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }
}

.grid-system-2 {

    max-width: 950px;
    padding: 0;

    &:before {
        content: 'default: width -> 100%';
        display: block;
        background-color: #f1f1f1;
        text-align: center;
    }
}
